.header {
  position: relative;
  background-color: $pink;
  padding: 6px 20px 0 20px;
  z-index: 1;
  overflow: hidden;

  &__pink {
    position: absolute;
    z-index: -2;
    bottom: 75px;
    left: 36px;
  }

  &__ice {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 117px;
  }

  &__menu {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 137px;

    &-nav {
      display: none;
    }

    &-button {
      display: none;
    }

    &-modal {
      display: none;
    }

    &-mobile {
      @include flex;
      cursor: pointer;
      width: 20px;
      height: 12px;
      border-style: none;
      background-color: $transparent;

      &:hover svg,
      &:focus svg {
        fill: $white;
      }

      &-svg {
        @include transition-fill;
        width: 20px;
        height: 12px;
        fill: $red;
      }
    }
  }

  &__logo {
    @include flex-row;
    justify-content: space-between;

    &-header {
      font-family: $secondary-font-family;
      font-weight: map-get($font-weight, primary);
      font-size: map-get($font-size-mobile, big);
      line-height: 1.154;
      letter-spacing: map-get($letter-spacing, medium);
      text-transform: uppercase;
      color: $white;

      &-span {
        font-size: map-get($font-size-mobile, huge);
        color: $red;
        line-height: 0.959;
      }
    }

    &-list {
      display: none;
    }
  }

  &__buttons {
    @include flex-row;
    gap: 8px;
    padding: 19px 0 160px 0;

    &-button {
      @include transition-background-color-color;
      cursor: pointer;
      font-weight: map-get($font-weight, primary);
      font-size: map-get($font-size-mobile, smallest);
      line-height: 1.25;
      height: 24px;
      width: 83px;
      text-align: center;
      color: $red;
      border-radius: 20px;
      border-style: none;

      &:hover,
      &:focus {
        background-color: $red;
        color: $white;
      }

      &-one {
        width: 62px;
        background-color: $red;
        color: $white;

        &:hover,
        &:focus {
          background-color: $white;
          color: $red;
        }
      }
    }
  }

  &__lorem {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 37px 34px 0 34px;

    &__menu {
      padding-bottom: 0;

      &-modal {
        display: block;
        @include flex;
        cursor: pointer;
        width: 20px;
        height: 12px;
        border-style: none;
        background-color: $transparent;

        &:hover svg,
        &:focus svg {
          fill: $white;
        }

        &-svg {
          @include transition-fill;
          width: 20px;
          height: 12px;
          fill: $red;
        }
      }

      &-mobile {
        display: none;
      }
    }
  }
}
